@import "tailwindcss";

/* Custom styles here if needed */
@layer base {
  body {
    @apply bg-[#1c1c1c];
    @apply text-yellow-500;
  }
  input {
    @apply border-[#6b6b6b];
    @apply outline-2;
    @apply text-[#7b7b7b];
  }
  button {
    @apply bg-yellow-500;
    @apply text-white;
    @apply hover:bg-white;
    @apply hover:text-yellow-500
  }
}